name: Build Kivy APK

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.8'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install kivy buildozer cython

    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'adopt'

    - name: Install Android SDK
      run: |
        sudo apt-get update
        sudo apt-get install -y openjdk-8-jdk
        wget https://dl.google.com/android/repository/commandlinetools-linux-6858069_latest.zip
        mkdir -p $HOME/android-sdk/cmdline-tools
        unzip commandlinetools-linux-6858069_latest.zip -d $HOME/android-sdk/cmdline-tools
        mkdir -p $HOME/android-sdk/cmdline-tools/latest
        mv $HOME/android-sdk/cmdline-tools/cmdline-tools/* $HOME/android-sdk/cmdline-tools/latest/
        echo ">>===== creating sdkmanager script =====================================<<"
        echo "`realpath $HOME/android-sdk/cmdline-tools/latest/bin/sdkmanager` --sdk_root=`realpath $HOME/android-sdk` \$*" | tee sdkmanager
        chmod +x sdkmanager; 
        sudo ln -s $HOME/android-sdk/cmdline-tools/latest  $HOME/android-sdk/tools
        echo -e "y\ny\ny\ny\ny\ny\ny" > input.txt
        sudo cp sdkmanager /usr/bin; 
        echo ">>===== testing sdkmanager script =====================================<<"
        sudo sdkmanager --licenses < input.txt

        
    - name: Build the APK
      run: |
        python -m pip install --upgrade pip
        pip install kivy buildozer cython
        sed -i 's/# (str) Title of the application/(str) Title of the application/' buildozer.spec
        sed -i 's/# (str) Package name/(str) Package name/' buildozer.spec
        sed -i 's/# (str) Source code where the main.py live/(str) Source code where the main.py live/' buildozer.spec
        sed -i 's/# (list) Application requirements/(list) Application requirements/' buildozer.spec
        sed -i 's/# (str) Supported orientation/(str) Supported orientation/' buildozer.spec
        sed -i 's/# (list) Permissions/(list) Permissions/' buildozer.spec
        buildozer -v android debug

    - name: Archive APK
      uses: actions/upload-artifact@v3
      with:
        name: kivy-app
        path: bin/*.apk
